@include laptop {
  .about-law {
    &-description-title h2 {
      font-size: 41px;
    }
    &-description-subtitle p {
      line-height: 27px;
    }
    &-achievements-item:nth-child(3):before {
      height: 335px;
    }
  }
}

@include tablet {
  .about-law {
    &-wrapper {
      align-items: center;
    }
    &-description {
      &-title h2 {
        font-size: 31px;
      }
      &-subtitle p {
        font-size: 18px;
      }
    }
    &-achievements-item:nth-child(3):before {
      height: 410px;
    }
  }
}

@include mobile {
  .about-law {
    &-wrapper {
      padding: 170px 15px 0 15px;
      align-items: start;
      flex-direction: column;
    }
    &-description {
      max-width: 100%;
      &-title h2 {
        font-size: 32px;
      }
    }
    &-achievements {
      padding: 30px 0 0 0;
      &-item:nth-child(3):before {
        display: none;
      }
      &-item:nth-child(1):before {
        content: '';
        display: block;
        height: 4px;
        width: 100%;
        background-color: $grey-separator;
        top: -20px;
        left: 0;
        position: absolute;
      }
    }
  }

}