.main-page {
  height: 100vh;
  background: $main-page-bg;
  position: relative;
  &:after {
    content: '';
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    box-shadow: 0 20px 50px 80px $main;
  }
  &__img-wrapper {
    background-image: url("./../images/main-bg.svg");
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center calc(50% + 90px);
    max-width: 70%;
    min-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
      background-image: url("./../images/p.svg");
      background-repeat: no-repeat;
      background-position: center calc(50% + 180px);
      background-size: 90% 700px;
      padding: 0 150px;
      margin: 0;
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 38px;
      line-height: 45px;
      color: white;
      text-align: center;
    }
  }
  &__arrow {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    z-index: 100;
    cursor: pointer;
  }
}