@include tablet {
  .main-page {
    &__img-wrapper {
      min-width: 550px;
      background-size: 100%;
      h1 {
        background-position: center calc(83% + 180px);
        background-size: 100% 700px;
        padding: 0;
      }
    }
  }
};

@include mobile {
  .main-page {
    &__img-wrapper {
      background: none;
      min-width: 350px;
      h1 {
        background-size: 110% 700px;
        background-position: center calc(90% + 180px);
      }
    }
  }
};