body {
  font-family: "TTNorms", sans-serif;
}

.button {
  position: absolute;
  display: block;
  width: 250px;
  height: 50px;
  border-radius: 12px;
  border: none;
  background-color: $active-regular;
  box-shadow: 0 0 20px 5px rgb(36 163 255 / 50%);
  color: white;
  font-size: 14px;
  font-weight: bold;

  &:hover {
    color: white;
    background-color: #1e9cf8;
  }

  &-bot-center {
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
}

address {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.row > * {
  --bs-gutter-x: 0;
  padding: 0;
}

.grey-point-header {
  .header__top-wrapper > div:not(:last-child):after {
    background-color: $grey-text;
  }
}

.header {
  top: 0;
  padding: 10px 0;
  z-index: 1;

  a {
    color: white;
    font-size: 16px;
    text-decoration: none;
  }

  &__top-wrapper {
    z-index: 1;

    & > div:not(:last-child) {
      position: relative;
      padding-right: 20px;

      &:after {
        @extend %header-point;
        background-color: white;

      }
    }

    & > address:not(:last-child) {
      position: relative;
      padding-right: 20px;
    }

    & > address:not(:last-child):after {
      @extend %header-point;
      background-color: white;
    }
  }

  &__lang-switch {
    label {
      cursor: pointer;
      color: white;
      font-weight: bold;

      input {
        display: none;
      }

      span {
        font-size: 13px;
      }

      input:checked + span {
        font-weight: bold;
        background-color: $accent;
        border-radius: 9px;
        padding: 6px;
        font-size: 13px;
      }
    }
  }

  &__address a {
    font-weight: 300;

    &:hover {
      @extend %title-bg-text
    }
  }

  &__contact a {
    font-weight: bold;

    &:hover {
      @extend %title-bg-text
    }
  }

  .navbar-nav {
    margin-top: 25px;
  }

  .navs-link {
    font-size: 18px;
    margin: 5px;
    position: relative;

    &:hover {
      &:after {
        content: '';
        display: block;
        height: 3px;
        width: 100%;
        background-color: white;
        position: absolute;
        left: 0;
        top: 25px;
      }
    }
  }
  .dropdown-menu {
    padding: 20px;
    width: 100%;
    border-radius: 12px;
    li {
      width: 100%;
      height: 45px;
      text-align: center;
      border-radius: 12px;
      background-color: $grey-bg;
      margin: 10px 0;

      a {
        color: $active-regular;
        font-size: 24px;
      }
    }
  }
}

.footer {
  a:hover {
    color: $accent;
  }

  padding: 30px 60px 40px 60px;
  height: 151px;
  background-color: $grey-bg;

  &:before {
    content: '';
    display: block;
    width: 93%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $grey-separator;

  }

  &-contacts {
    height: 80px;
    width: 492px;
    display: flex;
    flex-direction: column;
    align-content: center;

    &-top {
      display: flex;
      @extend %footer-point;

    }

    &-bottom {
      display: flex;
      margin-top: 30px;
      @extend %footer-point;
    }
  }

  &-address h5 {
    font-size: 16px;
    color: $main;
    margin-top: 3px;
  }

  &-phone a {
    color: $main-alt;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
  }

  &-look-map {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 4px;

    a {
      text-decoration: none;
      color: $active-regular;

    }
  }

  &-email a {
    font-weight: bold;
    font-size: 16px;
    color: $active-regular;
    text-decoration: none;

  }

  &-tov {
    position: absolute;
    right: 60px;
    top: 30px;
    font-size: 16px;
    color: $grey-text;
  }
}

.burger {
  position: absolute;
  top: 70px;
  right: 20px;
  height: 27px;
  width: 27px;

  span {
    display: block;
    width: 100%;
    height: 1.5px;
    margin: 7px 0;
    background-color: white;
  }
}

.publication {
  width: 380px;
  background-color: white;
  border-radius: 12px;
  margin: 0 40px 20px 0;

  img {
    display: block;
    width: 100%;
  }

  hr {
    height: 4px;
    background-color: $grey-text;
    width: 90%;
    margin: 20px auto;
  }

  &-header {
    a {
      display: block;
      text-decoration: none;
      color: $active-regular;
      font-size: 17px;
      line-height: 21px;
      font-weight: bold;
      padding: 20px 20px 10px 20px;

      &:hover {
        @extend %title-bg-text;
      }
    }
  }

  &-date {
    margin: 0;
    color: $grey-text;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 20px;

  }

  &-descr {
    font-size: 16px;
    line-height: 22px;
    padding: 0 20px;
    margin-bottom: 20px;
  }
}

.gradient-title {
  @extend %title-bg-text;
  font-weight: bold;
  font-size: 42px;
}

.label {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  font-weight: bold;

  &-grey {
    color: $text-arrow-grey;

    &:after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 2px;
      left: 77px;
      background: url("./../images/serv-arrow.svg");
    }
  }

  &-blue {
    color: $active-regular;

    &:after {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 2px;
      padding: 20px;
      background-image: url("./../images/team-arrow.svg");
      background-repeat: no-repeat;
      left: 87px;
    }
  }
}

.grey-subtitle {
  color: $grey-text;
  font-size: 18px;
  margin: 0;
}

.grey-descr {
  color: $grey-text;
  font-size: 18px;
  margin: 0;
  font-weight: 300;
}



