@include laptop {
  .header {
    a {
      font-size: 14px;
    }

    .nav-item a {
      font-size: 16px;
    }

    .navs-link {
      margin: 3px;
    }

    .navbar {
      flex-wrap: nowrap;
      .container {
        display: -webkit-box;
      }

      &-nav {
        flex-direction: row;
      }
      .container {
        justify-content: start;
      }
    }
  }
}

@include tablet {
  .invisible {
    visibility: visible !important;
  }
  .header {
    .burger {
      top: -10px;
      right: 0;
      width: 50px;
      height: 50px;

      &:after {
        display: none;
      }
    }

    padding: 20px;

    .justify-content-end {
      justify-content: space-between !important;
    }

    &__address {
      display: none;
    }

    &__contact {
      position: absolute;
      right: 20px;

      a {
        font-size: 16px;
        color: $grey-text;
      }
    }

    &__social {
      display: none;
    }

    &__lang-switch {
      margin-right: 35px;

      label {
        margin-right: 3px;
      }
    }

    &__top-wrapper {
      padding-left: 200px;

      & > div:not(:last-child):after {
        display: none;
      }

      & > address:not(:last-child):after {
        display: none;
      }
    }

    .navbar-brand-logo {
      margin: -12px 0 0 -12px;
      width: 140px;
    }

    .navbar-nav {
      display: none;
    }
  }
}

@include mobile {
  .header {
    .burger {
      top: 32px;
      right: -20px;
    }

    &__top-wrapper {
      padding-left: 0;
    }

    .header__top-wrapper > address:not(:last-child) {
      position: absolute;
      right: 0;
      padding: 0;
    }

    .navbar-brand-logo {
      margin: 35px 0 0 -20px;
      width: 93px;
    }
  }
}
