@include laptop {
  .clients {
    img {
      display: block;
      width: 150px;
    }
  }
};

@include tablet {
  .clients {
    &-wrapper {
      grid-template-rows: repeat(3, 100px);
    }
    img {
      width: 120px;
    }
  }
};

@include mobile {
  .clients {
    &-wrapper {
      grid-template: repeat(6, 90px) / repeat(2, 50%);
    }
  }
}
