@include laptop {
  .services {
    &__wrapper {
      justify-content: space-around;

      .tab-content {
        h4 {
          font-size: 29px;
        }

        p {
          font-size: 18px;
          line-height: 25px;
        }
      }

      .navs-link {
        font-size: 30px;
        line-height: 50px;
        margin: 0;
      }
    }

    &__better {
      &-wrapper {
        justify-content: space-between;
      }

      h4 {
        font-size: 30px;
      }

      &-item {
        width: 297px;

        &-img img {
          display: block;
          margin: 0 auto;
        }

        &-title {
          text-align: center;
        }

        &-subtitle {
          text-align: center;
        }
      }
    }

  }
}

;

@include tablet {
  .services {
    .gradient-title {
      //text-align: center;
      font-size: 41px;
    }

    &__better {
      &-wrapper {
        justify-content: center;
      }

      &-item {
        display: flex;
        flex-direction: column;
        align-content: center;
      }
    }
  }
};

@include mobile {
  .services {
    .gradient-title {
      font-size: 30px;
    }

    &__better {
      &-item {
        &-title {
          text-align: start;
        }

        &-subtitle {
          text-align: start;
        }

        &-img img {
          margin: 0;
        }
      }
    }

    &-header {
      padding: 12px;
    }
  }
  .white {
    padding: 0 30px;
  }
};