.achievements {
  padding: 75px 0;
  height: 260px;
  background-color: $grey-bg;
  .carousel {
    &-inner {
      left: 3.5%;
    }
    &-item {
      &-wrapper {
        display: inline-block;
        width: 20%;
        height: 109px;
        border-radius: 12px;
        padding: 25px 100px;
        background-color: white;
        margin: 0 20px;
        div {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
    &-indicators {
      top: 135px;
      & > .active {
        @extend %carousel-indicators;
        background-color: $active-regular;
      }
      & > [data-bs-target] {
        @extend %carousel-indicators;
      }
    }
  }
}
