@include desktop {
  .achievements {
    .carousel {
      &-inner {
        left: 2.5%;
      }
    }
  }
}

@include desktop-small {
  .achievements {
    .carousel {
      &-item-wrapper {
        margin: 0 15px;
      }
      &-inner {
        left: -0.3%;
      }
    }
  }
}

@include laptop {
  .achievements {
    .carousel-item-wrapper {
      padding: 25px 99px;
      &:nth-child(4) {
        display: none;
      }
    }
  }
}

@include tablet {
  .achievements {
    padding-top: 30px;
    .carousel-item-wrapper {
      padding: 25px 80px;
      margin: 0 4px;
      img {
        height: 46px;
      }
    }
  }
}

@include mobile {
  .achievements {
    height: 180px;
    .carousel-indicators {
      top: 100px
    }
    .carousel-item-wrapper {
      padding: 23px 77px;
      width: 47%;
      height: 92px;
      &:nth-child(3) {
        display: none;
      }
    }
  }
}