@include tablet {
  .service-it {
    &-wrapper {
      padding-top: 120px;
    }
    &-title {
      margin-bottom: 20px;
      h1 {
        font-size: 36px;
      }
    }
    &-direction {
      li {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}

@include mobile {
  .service-it {
    padding-bottom: 40px;
    &-wrapper {
      padding-top: 150px;
    }
    &-title {
      margin-bottom: 50px;
      h1 {
        font-size: 33px;
        text-align: center;
      }
    }
    &-text {
      font-size: 17px;
      line-height: 25px;
    }
    &-direction {
      flex-direction: column;
      &-list {
        flex-direction: column;
      }
      ul {
        width: 100%;
      }
      li {
        font-size: 19px;
        line-height: 19px;
        margin: 20px 0;
      }
    }
  }
}