@include mobile {
  .publication {
    .gradient-title {
      font-size: 20px;
    }
    &-gdpr-wrapper {
      &-text p {
        font-size: 16px;
        line-height: 22px;
      }
      &-subheader h4 {
        font-size: 18px;
      }
      &-attention h2 {
        font-size: 20px;
      }
      &-socials {
        justify-content: center;
      }
    }
  }
}

